<!DOCTYPE html>

<html>
  	<head>
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>Denied.</title>
		<script>
			console.log('Not sure what you\'re expecting to find here, but hint, there\'s not a lot!');
		</script>
	</head>
	<body>
		<h1>Bold of you to assume I'd actually have put anything here...</h1>
		<iframe src="https://giphy.com/embed/tvGOBZKNEX0ac" width="480" height="204" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
		<p><a href="https://giphy.com/gifs/mrw-coffee-wants-tvGOBZKNEX0ac">via GIPHY</a></p>
	</body>
</html>